body {
    /*padding: 50px;*/
}

.card {
    border: 1px solid #bfbfbf;
    width: 285px;
    margin-bottom: 30px;
    /*height: 400px;*/
}

img {
    max-width: 100%;
}

.card-text {
    padding: 20px;
}

.card-title {
    margin-bottom: 20px;
}

.card-description {
    margin-bottom: 30px;
}

.card-btn {
    /*width: 100px;*/
    /*height: 30px;*/
    padding: .5em 1em;
    min-width: 100px;
    border: none;
    background-color: #000;
    color: #FFFFFF;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    max-width: 900px;
    margin: 0 auto;
}

.card:not(:nth-child(3n)) {
    margin-right: 15px;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    background-color: #3172b9;
    border-radius: 4px;
    transition: background-color .3s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: blue;
}

.btn:active {
    background-color: red;
}

.btn.btn-big {
    padding: 20px 60px;
}

.text-center {
    text-align: center;
}

.section-heading {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 1.3;
    font-weight: 300;
    color: #414141;
}

.section-description {
    margin-top: 0;
    font-size: 16px;
    line-height: 1.31;
    color: #787878;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
}

/*------------HEADER------------*/
.header {
    height: 110px;
    border-bottom: 1px solid #e4e4e4;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.logo {
    margin-right: auto;
}

.logo:focus {
    outline: 3px solid blueviolet;
}

.nav-list {
    display: flex;
    margin: auto;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.nav-item {
    font-size: 15px;
    line-height: 1;
}

.nav-link {
    font-size: 15px;
    line-height: 1;
    color: #1c1c1c;
    transition: color .3s ease;
}

.nav-link:hover {
    color: #3172b9;
}

.nav-item.is-active .nav-link {
    color: #3172b9;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.header-btn {
    margin-left: 40px;
}

/*------------Hero------------*/
.section-hero {
    background: url("img/screensaver.png") right center no-repeat white;
    background-size: auto 100%;
}

.section-hero__container {
    padding-top: 120px;
    padding-bottom: 130px;
}

.section-hero__content {
    max-width: 44%;
}

.section-hero__heading {
    font-size: 40px;
    line-height: 52px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 30px;
    color: #1c1c1c;
}

.section-hero__action {
    display: inline-block;
}

.section-hero__description {
    margin-bottom: 33px;
    /*font-size: 16px;*/
    /*line-height: 25px;*/
    color: #787878;
}

.section-hero__btn {
    padding-right: 50px;
    padding-left: 50px;
}

.section-hero__btn-description {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13px;
    font-size: 11px;
    line-height: 1;
    /*text-transform: uppercase;*/
    text-align: center;
    color: #787878;
}

.section-hero__ssl-icon {
    display: inline-block;
    width: 13px;
    height: 17px;
    margin-right: 11px;
    background: url("img/shield.png") center center no-repeat transparent;
    background-size: contain;
    /*transform: translateY(-2px);*/
}

/*------------Section-do------------*/
.section-do {
    padding-top: 140px;
    padding-bottom: 100px;
    border-bottom: 1px solid #e4e4e4;
}

.section-description {
    margin-top: 20px;
}

.section-do-list {
    display: flex;
    margin-top: 50px;
}

.section-do-item {
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 30px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    transition-property: background-color, color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.section-do-item:not(:last-child) {
    margin-right: 30px;
}

.section-do-item:hover {
    background-color: #3172b9;
    color: #e4e4e4;
    cursor: pointer;
}

.section-do-item:hover .section-do-item-description {
    color: #e4e4e4;
}

.section-do-item-heading {
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
}

.section-do-item:hover .section-do-icon path {
    fill: white;
}

.section-do-icon {
    margin-bottom: 30px;
}

.section-do-icon path {
    transition: fill .3s ease;
}

.section-do-item-description {
    margin-top: 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    text-align: center;
    color: #787878;
    transition: color .3s ease;
}

/*-----------Clients----------*/
.section-clients {
    padding-top: 90px;
    padding-bottom: 100px;
    border-bottom: 1px solid #e4e4e4;
}

.section-clients-heading {
    margin-bottom: 45px;
}

.section-clients-list {
    display: flex;
}

.section-clients-item {
    flex: 1 1 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 35px 30px;
    border: 1px solid #a92323;
    border-radius: 5px;
}

.section-clients-item:not(:last-child) {
    margin-right: 30px;
}

.section-clients-testimonial {
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    color: #3c1818;
}

.section-clients-user {
    display: flex;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid #564f4f;
}

.section-clients-avatar {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    border: 2px solid #3172b9;
    border-radius: 50%;
}

.section-clients-username {
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;
    color: #1c1c1c;
}

.section-clients-user-description {
    font-size: 14px;
    line-height: 25px;
    color: #787878;
}

/*-----------Contacts-----------*/
.section-contacts {
    padding-top: 85px;
    padding-bottom: 95px;
    border-bottom: 1px solid #787878;
}

.section-contacts-list {
    display: flex;
    margin-top: 43px;
}

.section-contacts-item {
    flex: 1 1 33.33%;
}

.section-contacts-info {
    max-width: 250px;
    font-size: 14px;
    line-height: 25px;
    color: #787878;
}

.section-contacts-icon {
    display: block;
    height: 26px;
    margin-bottom: 25px;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: auto 100%;
    background-color: transparent;
}

.section-contacts-icon-gps {
    background-image: url("img/gps.png");
}

.section-contacts-icon-phone {
    background-image: url("img/phone.png");
}

.section-contacts-icon-mail {
    background-image: url("img/mail.png");
}

.section-contacts-heading {
    display: block;
    margin-bottom: 40px;
    font-size: 17px;
    line-height: 1;
    color: #1c1c1c;
}

.section-contacts-link {
    color: #787878;
}

/*-----------Contacts-----------*/
.footer {
    height: 125px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.footer-left, .footer-right {
    display: flex;
    align-items: center;
}

.footer-logo {
    margin-right: 25px;
}

.footer-copyright {
    font-size: 12px;
    line-height: 17px;
    color: #787878;
}

.footer-nav {
    margin-right: 55px;
}

.footer-nav-list {
    display: flex;
}

.footer-nav-item {
    font-size: 14px;
    line-height: 1;
}

.footer-nav-link {
    color: #787878;
}

.footer-nav-item:not(:last-child) {
    margin-right: 35px;
}

.footer-social-list {
    display: flex;
    align-items: center;
}

.footer-social-item:not(:last-child) {
    margin-right: 30px;
}

.footer-social-icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: center center;
}

.footer-social-icon-twitter {
    background-image: url("img/twitter.svg");
    width: 18px;
    height: 15px;
}

.footer-social-icon-in {
    background-image: url("img/in.svg");
    width: 18px;
    height: 19px;
}

.footer-social-icon-email {
    background-image: url("img/email.svg");
    width: 24px;
    height: 17px;
    transform: translateY(2px);
}

.form-title {
    text-align: center;
}

.form-description {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #787878;
}

.form {
    display: flex;
    justify-content: space-between;
    margin-top: 58px;
}

.input, .btn-submit {
    flex: 0 0 calc(25% - 15px);
    height: 60px;
    border-radius: 30px;
}

.input {
    padding: 0 30px;
    border: 1px solid red;
    border-radius: 30px;
}

.input::placeholder {
    color: #787878;
}
@media (max-width: 768px) {
    .section-do-list{
        display: block;
    }
    .section-do-item:not(:last-child){
        margin-right: 0;
        margin-bottom: 30px;
    }
}